@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #1E2022;
  display: flex;
  justify-content: center;
  align-items: center;
}


h1 {
  color: #1E2022;
  margin-bottom: 1rem;
  font-size: 1.75rem;
  text-align: center;
}

.TodoWrapper {
  background: #F0F5F9;
  margin-top: 5rem;
  padding: 3rem;
  border-radius: 5px;
}

.TodoForm {
  width: 100%;
  margin-bottom: 1rem;
}

.todo-input {
  outline: none;
  background: none;
  border: 1px solid #52616B;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 300px;
  color: #1E2022;
}

.todo-input::placeholder {
  color: #52616B;
}

.todo-btn {
  background: #52616B;
  color: #1E2022;
  border: none;
  padding: 0.55rem;
  cursor: pointer;
}

.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #C9D6DF;
  color: #1E2022;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.completed {
  color: #52616B;
  text-decoration: line-through;
  cursor: pointer;
}

.icon {
  display: flex;
}

.check-icon,
.edit-icon,
.delete-icon {
  margin-left: 15px;
  cursor: pointer;
}
 
